
.window-exp{
  position: absolute;
  width: 80%;
  height: 80%;
  left: 5%;
  top: 5%;
}

#aboutme-conn{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(51, 51, 51);
}
.aboutme{
   background:none;
   position: absolute;
   width: 85%;
   height: 85%;
   margin: 6%;
}
.aboutimg{
  position: absolute;
  left: 0;
  width: 40%;
  height: 100%;
}
#ab-myimage{
  position: absolute;
  width: 60%;
  height: 40%;
  top: 10%;
  left: 10%;
  border: 8px solid white;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}
#ab-myimage img{
  position: absolute;
  width: 100%;
  height: 100%;
}
.about-link{
  position: absolute;
  top: 65%;
}
.sociallinks a{
  margin: 12px;
  text-decoration: none;
  list-style: none;
}
.name{
  position: absolute;
  width: 60%;
  height: 35%;
  right: 0;
  top: -10%;
  text-align: left;
}
.name span{
  position: relative;
  font-size: 3.5em;
  font-weight: normal;
  top: 20%;
}
#name-hin{
  font-size: 1.6em;
  font-weight: normal;
  filter: opacity(.7);
}
.lineaboutme{
   width: 60%;
   right: 0;
   bottom: 10%;
   height: 65%;
   position: absolute;
   text-align: justify;
   color: white;
   font-size: 1.1em;
   font-weight: normal;
   font-family: "myfont";
}
