.leftside{
      background: rgba(3,3,3,1);
}
.galleryconn{
  position:relative;
  width: 92%;
  left:6%;
  z-index: 0;
}
.galleryconn  li img{
 position: relative;
 width: 100%;
 height: 100%;
 object-fit: cover;
 filter: grayscale(1);
 transition-duration: .6s;
}
.galleryconn li img:hover{
 filter: grayscale(0);
 transform: scale(2);
 z-index: 1;
 object-fit: contain;
}
.boximg{
  position: relative;
  float: left;
  margin: 15px;
  list-style: none;
 width: 240px;
 height: 240px;
}
@media only screen and (max-width:500px){
  .boximg{
    position: relative;
    width:110px;
    height: 110px;
  }
  .galleryconn{
    padding-top: 70px;
  }
  .galleryconn  li img{
   position: relative;
   width: 100%;
   height: 100%;
 }
}
