* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "MyFont";
  src: url("font/LucidaGrande.ttf");
}
body{
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: "MyFont";
}

#aftrload{
  z-index: 1;
}
.mac-bg-img img{
  position: absolute;
  width: 100%;
  height: 100%;
}


.upper-docker-conn{
  position: absolute;
  width: 100%;
  height: 3.5%;
  top: -5%;
  background: #5d5a53;
  color: white;
}
.up-do-left{
  position: absolute;
  float: left;
  width: 60%;
  overflow: hidden;
}
.up-do-left ul li, .up-do-menu ul li{
  position: relative;
  float: left;
  list-style: none;
  margin: 0px 8px;
  font-size: .88em;
  padding: 2px 0px;
  cursor: pointer;
}
#up-do-logo img{
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  padding-left: 18px;
}
#opn-wndw span{
  font-weight: bold;
}
.up-do-right{
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  overflow: hidden;
  padding-right: 14px;
}
#udr-id ul li{
  float: right;
  list-style: none;
  position: relative;
  top: 2px;
}

#udr-id ul li span{
  position: relative;
  font-size:.86em;
  top:-1px;
  cursor: pointer;
}
#udr-id ul li img{
  position: relative;
  width: 21px;
  height: 21px;
  margin: 0px 13px;
  cursor: pointer;
}


/* LOWER DOCKER */

.docker-container{
  position: absolute;
  bottom: -10%;
  background: none;
  width: 100%;
  height: 7.5%;
  transition: 1s;
}
#docker-inner-cont{
  position: absolute;
  width: 76%;
  left: 12%;
  height: 100%;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid rgba(205,205,205,0.2);
  background: rgba(255, 255, 255, .12);

}
#abc{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(1000px);
}
.docker-conn ul li{
  position: relative;
  float: left;
  text-decoration: none;
  list-style: none;
  top: 0;
}
.docker-conn ul li img{
  margin-top: 3px;
  margin: 9.2px;
  width: 46px;
  height: 46px;
  filter: brightness(1.3);
  cursor: pointer;
}




/* Opened Window CSS */

#opend-window{
  position: absolute;
  width: 100%;
  height: 96.5%;
  top: 3.5%;
  background: transparent;
}

#clockbox{
  font-size: .8em;
  top: 2px;
  position:relative;
}


/* onload */


.onloading-container{
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}
#onldc{
  z-index: 10;
}
.load-logo img{
  position: absolute;
  width: 90px;
  height: 90px;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.load-ldng img{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 85%;
  left: 49%;
  transform: translate(-50%,-50%);
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* LOWER DOcker Hint*/

.demo-container{
  position: absolute;
  width: 100%;
  bottom: 7.5%;
}
.dc-lower{
  position: absolute;
  left: 7%;
}
.dc-lower ul li{
  position: relative;
  float: left;
  left: 112px;
  list-style: none;
  background: white;
  border-radius: 20px;
  color: black;
  width: 64px;
  text-align: center;
  overflow: hidden;
  font-size: 0em;
  transform: translate(-50%,-50%);
  transition: .5s;
}

/* Up Docker Hint */

.udl-hint{
  position: absolute;
  width: 60%;
  text-align: center;
}
.udl-hint ul li{
  position: absolute;
  width: 90px;
  top: 30px;
  float: left;
  list-style: none;
  margin: 4px 8px;
  background: white;
  color: black;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: .85em;
  padding: 3px 7px;
  cursor: pointer;
  display: none;
}
.udl-hint ul li span{
  position: relative;
  top: -16px;
  color : white;
}
#abme-hnt{
  left: 40px;
}
#res-hnt{
  left: 200px;
}
#cont-hnt{
  left: 280px;
}
#hlp-hnt{
  left: 320px;
}


/* Right side Navigation  */


::-webkit-scrollbar {
width: 0px;  /* Remove scrollbar space */
background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: none;
  }
.ryt-nav-bar{
  position: absolute;
  float: right;
  right: -20px;
  width: 0%;
  height: 97%;
  top: 3.5%;
  background: #6E6E6E;
  padding: 10px;
  z-index: 1;
}
.rnb-container{
  position: absolute;
  width: 300px;
  height: 100%;
  margin: 0px;
  background: none;
}
.rnbcon01{
    position: absolute;
    width: 100%;
    height: 20%;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    background: #585858;
}
.rnbcon01:hover{
  background: #848484;
}
.rnb-chs-bdimg{
  position: absolute;
  width: 94%;
  height: 80%;
  margin: 0px 8px;
  overflow-y: scroll;
  scrollbar-width: none;
}
#rnbcb-name{
  background: #464646;
  border-radius: 10px 10px 0px 0px;
  padding: 3px 10px;
  font-size: .80em;
}
#rnbcb-imgs{
  position: absolute;
  width:454%; height: 77%;
}
#rnbcb-imgs ul li{
  list-style: none;
}
#rnbcb-imgs ul li img{
  position: relative;
  float: left;
  margin-left: 10px;
  width: 200px;
  height: 110px;
  left: -50px;
  top: 7px;
}
