body{
  padding:0;
  margin:0%;
}
.leftside{
      background: rgba(3,3,3,.3);
      width: 6%;
      height: 100%;
      position: fixed;
      z-index: 1;
  }
  @media only screen and (max-width:900px) {
    /* For tablets: */
    .leftside {
      background: none;
    }
    .navbar li button{
      background: rgba(1,1,1,.8);
      border:3px solid #00a2ff;
      top:-50%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .leftside{
      width: 100%;
      height: 0%;
      top:-1.5%;
    }
    .navbar li button{
      background: black;
      border:2px solid #00a2ff;
    }
    .navbar{
      text-align: center;
    }
    .navbar li{
      float: left;
      margin-left: 75px;
    }
    .navbar li button{
      position: relative;
      top:0px;
    }
    .navbar li button{
      background: rgba(1,1,1,.5);
    }

  }
  .navbar{
      background: none;
      position: absolute;
      top: 30%;
  }
  .navbar li{
    list-style: none;
  }
  .nav{
    border:1.6px solid #00a2ff;
    border-radius: 50%;
    font-size: 0.9em;
    background:transparent;
    margin:70%;
    padding: 15%;
    position: relative;
    cursor: pointer;
  }
  .nav:hover{
    border-color:transparent;
    position: relative;
    transform: scale(1.7);
    transition-duration: .5s;
    background-color:transparent;
  }
  .navbar img{
    width:30px;
    height: 30px;
  }
  .signature{
    position: fixed;
    right: 1.5%;
    bottom: 0%;
  }
  @media only screen and (max-width:900px){
    .signature{
      right: 2.5%;
      position: fixed;
      filter: invert(2);
    }
  }
  @media only screen and (max-width:500px){
  .signature{
    position:fixed;
    filter: none;
  }
}
