

.wind-con{
  position: absolute;
  width: 60%;
  height: 70%;
  top: 15%;
  left: 20%;
  border-radius: 9px;
  transition: .7s;
  z-index: 1;
  min-width: 450px;
}
#wind-ter-conn{
  position: absolute;
  width: 100%;
  height: 98%;
  overflow: hidden;
  top: 23px;
  border-radius: 0px 0px 7px 7px;
  background: rgb(51,51,51);
  color: white;
  font-family: "MyFont";
  font-size: .6em;;
  border: 1px solid #5d5a5399;
}


/* Portfolio img  Resume*/

#terminal-inner{
  position: absolute;
  width: 100%;
  height: 100%;
}
.resum-dwnl-conn{
  position: relative;
  width: 100%;
  height: 6%;
  top: 0;
}
.resum-dwnl-conn ul li{
  position: relative;
  float: left;
  left: -170px;
  margin-left: 40px;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
}
.resum-dwnl-conn ul li:hover{
  border: 2px solid #aaa;
}

.rdwnlinner{
  position: absolute;
  width: 100%;
  height: 80%;
  top: 5%;
  left: 100%;
  text-align: center;
  transform: translateX(-50%);

}
.rdc-inn img{
  position: relative;
  width: 26px;
  height: 28px;
  margin: 2px;
}
#resum-conn{
  position: relative;
  width: 100%;
  height: 94%;
  bottom: 0;
  scrollbar-width: none;
  overflow-x: scroll;
}
#resum-conn img{
    position: relative;
    width: 100%;
    max-width: 800px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}


/* CSS About */

#wind-ter-conn{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(51, 51, 51);
}
#aboutme-conn{
  position: absolute;
  width: 720px;
  height: 470px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aboutme{
   position: absolute;
   width: 100%;
   height: 100%;
   margin-top: 50px;
}
.aboutimg{
  position: absolute;
  left: 0;
  width: 40%;
  height: 100%;
}
#ab-myimage{
  position: absolute;
  width: 60%;
  height: 40%;
  top: 10%;
  left: 10%;
  border: 8px solid white;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}
#ab-myimage img{
  position: absolute;
  width: 100%;
  height: 100%;
}
.about-link{
  position: absolute;
  top: 65%;
}
.sociallinks a{
  margin: 12px;
  text-decoration: none;
  list-style: none;
}
.name{
  position: absolute;
  width: 60%;
  height: 35%;
  right: 0;
  top: -10%;
  text-align: left;
}
.name span{
  position: relative;
  font-size: 3.5em;
  font-weight: normal;
  top: 20%;
}
#name-hin{
  font-size: 1.6em;
  font-weight: normal;
  filter: opacity(.7);
}
.lineaboutme{
   width: 60%;
   right: 0;
   bottom: 10%;
   height: 65%;
   position: absolute;
   text-align: justify;
   color: white;
   font-size: 1.1em;
   font-weight: normal;
   font-family: "myfont";
}
